<ion-header translucent>
  <ion-toolbar>
    <ion-title>Mario Rossi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="container">
  <div class="remote" >
    <video #remoteVideo autoplay muted playsinline></video>
    <ion-spinner *ngIf="!hasRemoteStream"></ion-spinner>
  </div>
  <div class="local">
    <video #localVideo autoplay muted playsinline></video>
    <ion-spinner *ngIf="!hasLocalStream"></ion-spinner>
  </div>

  <ion-button class="hang-up" (click)="hangUp()">
    <ion-icon name="call-outline"></ion-icon>
    Termina chiamata
  </ion-button>
</div>

</ion-content>