<div class="container">
  <div class="remote">
    <video #remoteVideo autoplay muted playsinline class="remote-video"></video>
    <ion-spinner *ngIf="!hasRemoteStream"></ion-spinner>
  </div>
  <div class="local">
    <video #localVideo autoplay muted playsinline class="local-video"></video>
    <ion-spinner *ngIf="!hasLocalStream"></ion-spinner>
  </div>
  <div class="buttons-container">
    <div class="top-buttons">
      <ion-icon size="large" class="reduce-modal" src="assets/chevron-down-outline-shadow.svg" (click)="dismissModal()">
      </ion-icon>
    </div>
    <div class="bottom-buttons">
      <ion-fab-button color="danger" class="hang-up" (click)="hangUp()">
        <ion-icon src="assets/hang-up.svg"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
</div>