:host {
    z-index: 100000;
}

video {
    width: 200px;
    position: absolute;
}

.placeholder{
    width: 200px;
    height: 200px;
    background-color: red;
}

.hidden {
    display: none !important;
  }