:host {
    z-index: 100000;
}

video {
    border: 2px solid var(--ion-color-primary);
    border-radius: 4px;
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}

.hidden {
    display: none !important;
  }